<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>

<ion-content >
  <form [formGroup]="credentials">
    
    <ion-grid>

      <ion-row >
        <ion-col class="flex ion-justify-content-center">
          <mat-form-field appearance="fill" class="width60">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-error *ngIf="(email.dirty || email.touched) && email.errors">Email inválido</mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col  class="flex ion-justify-content-center" >
          <mat-form-field appearance="fill" class="width60">
            <mat-label>Senha</mat-label>
            <input type="password"  formControlName="password" required matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Ocultar senha'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="(password.dirty || password.touched) && password.errors">Senha inválida!</mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>

      <ion-row  class="flex ion-justify-content-center">
        <ion-col class="flex ion-justify-content-center ion-align-items-center">
          <div style="margin-right: 10px;">
            <button mat-raised-button color="primary" (click)="login()">Login</button>
          </div>
          <div>
            <button mat-stroked-button colo="primary" (click)="signin()">Cadastre-se</button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

</ion-content>
